
<app-header></app-header>



<!-- <div style="background-color: antiquewhite;">
  <input  class="form-control" id="multiimginput" type="number" placeholder="code">
  <input type="file" (change)="onMultiFilesSelected($event)"  multiple/>
  <button (click)="MultiuploadImages()">Upload Image</button>
</div> -->




<div class="addbtn">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Customer
    </button>
    <button style="margin-left: 10px;" type="button" class="btn btn-success" (click)="downloadExcel()">
      Export Customer
    </button>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customercreate">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Code</label>
            <input placeholder="Code e.g 1"
              type="text"
              formControlName="code"
              class="form-control"
              id="exampleInputPassword1"
              [(ngModel)]="defaultcode"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input placeholder="Full Name"
              type="text"
              formControlName="name"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input placeholder="Email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
            <label for="exampleInputPassword1" class="form-label">Phone</label>
            <input placeholder="Phone No."
              type="tel"
              formControlName="phone"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CreditLimit</label>
            <input placeholder="creditlimit"
              type="number"
              formControlName="creditlimit"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3" hidden>
            <label for="exampleInputPassword1" class="form-label">isactive</label>
            <input 
              type="text" 
              formControlName="isActive"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3" hidden>
            <label for="exampleInputPassword1" class="form-label">StatusName</label>
            <input placeholder="statusname"
              type="text"
              formControlName="statusname"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">TaxCode</label>
            <input placeholder="taxcode"
              type="number"
              formControlName="taxcode"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submit()">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th class="thead" scope="col">Code</th>
        <th class="thead" scope="col">Name</th>
        <th class="thead" scope="col">Email</th>
        <th class="thead" scope="col">Phone</th>
        <th class="thead" scope="col">Creditlimit</th>
        <th class="thead" scope="col">Status</th>
        <th class="thead" scope="col">Taxcode</th>
        <th class="thead" scope="col">isActive</th>
        <th class="thead" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of getallres">
      <tr>
        <th scope="row">{{data.code}}</th>
        <td>{{data.name}} <svg (click)="getcutbycode(data.code);getimg(data.code)"  data-bs-toggle="modal" data-bs-target="#exampleModal3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
        </svg></td>
        <td>{{data.email}} <svg (click)="getcutbycode(data.code)" data-bs-toggle="modal" data-bs-target="#exampleModal2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-arrow-up" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4.5a.5.5 0 0 1-1 0V5.383l-7 4.2-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-1.99V4Zm1 7.105 4.708-2.897L1 5.383v5.722ZM1 4v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1Z"/>
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016Z"/>
        </svg></td>
        <td>{{data.phone}}</td>
        <td>{{data.creditlimit}}</td>
        <td  ><p [ngClass]="{'active-background': data.statusname=='Active', 'inactive-background': data.statusname==['In Active']}">{{data.statusname}}</p></td>
        <td>{{data.taxcode}}</td>
        <td>{{data.isActive}}</td>
        <td>
            <button type="button" (click)="getcutbycode(data.code)"  data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-right: 5px;" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(data.code)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>



<!-- mail popup -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form  [formGroup]="mail">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Mail</h5>
          <button type="button" class="close"data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <h5 style="width: 90px;">To;</h5>
            <input class="form-control" formControlName="toEmail" readonly type="email" [value]="email"  >
          </div><br>
          <div class="input-group">
            <h5 style="width: 70px;">Subject;</h5>
            <input class="form-control" formControlName="subject" id="subject"  type="email"  style="margin-left: 20px;" >
          </div><br>
          <div class="input-group">
            <h5 style="width: 70px;">Body;</h5>
            <textarea class="form-control" formControlName="body" id="body"  type="email"  style="margin-left: 20px;" ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="sendmail()" >Send</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- end mail -->


  <!-- add image model -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Customer Image</h5>
          <button type="button" class="close"data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <img [src]='displayimage' *ngIf="imgnull" alt="" style="width:200px;height: 200px;">
          </div>
          <div style="background-color: rgb(251, 249, 247);">
            <input  [value]="code" class="form-control" id="imginput" type="number" placeholder="code" />
            <input  type="file" id="fileimginput" (change)="onFileSelected($event)"  maxFileSize="30mb"/><br>
            <div class="mt-3">
              <button class="btn btn-success" (click)="uploadImage()">Upload Images</button>
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" (click)="load()" >Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- end image -->


  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
          <button type="button" class="close"data-bs-dismiss="modal" aria-label="Close" (click)="closemodel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editcustomercreate">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Code</label>
              <input  readonly placeholder="Code e.g A001" 
                type="text"
                formControlName="code"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="code"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name</label>
              <input placeholder="Full Name"
                type="text"
                formControlName="name"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="name"
               
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input placeholder="Email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                formControlName="email"
                [(ngModel)]="email"
               
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
              <label for="exampleInputPassword1" class="form-label">Phone</label>
              <input placeholder="Phone No."
                type="tel"
                formControlName="phone"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="phone"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">CreditLimit</label>
              <input placeholder="creditlimit"
                type="number"
                formControlName="creditlimit"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="creditlimit"
              />
            </div>
            <!-- <div class="mb-3" >
              <label for="exampleInputPassword1" class="form-label">isactive</label>
              <input readonly
                type="text" 
                formControlName="isActive"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="isActive"
              />
            </div> -->

          <!-- <div class="mb-3" >
          <label for="exampleInputPassword1" class="form-label">isactive</label>
          <select   (change)="compareChange($event);" data-filter="make" class="form-select" >
            <option    [value]="item" [id]="item" *ngFor="let item of compare_list">
              {{  item }}</option>
          </select>
          </div> -->

            <div class="mb-3" >
            <label for="exampleInputPassword1" class="form-label">isactive</label>
            <select   (change)="compareChange($event);" data-filter="make" class="form-select" >
              <option [selected]="isActive==null" value=''>Select</option>
              <option [selected]="isActive===true" value=true>True</option>
              <option [selected]="isActive===false" value=false>False</option>
            </select>
            </div>

 

     
          
            <div class="mb-3">
              <label for="exampleInputPassword1" readonly class="form-label">StatusName</label>
              <input placeholder="statusname" readonly
                type="text"
                formControlName="statusname"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="statusname"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">TaxCode</label>
              <input placeholder="taxcode"
                type="number"
                formControlName="taxcode"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="taxcode"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closemodel()">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="edit()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

 




  <ngx-spinner bdColor="black" size="medium" [type]="typeSelected">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>


<app-footer></app-footer>
