
<div class="container-flex">
<div class="container">
  <form [formGroup]="user" (ngSubmit)="submit()">
    <div class="mb-3">
      <div style="text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="70"  height="70" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg>
    </div>
    <div style="text-align: center;">
      <label for="exampleInputPassword1"  style="font-size: large;color: rgb(35, 32, 32);font-size: x-large;"><b>REGISTER</b></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Code</label>
      <input placeholder="Code e.g A001"
        type="text"
        formControlName="code"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Name</label>
      <input placeholder="Full Name"
        type="text"
        formControlName="name"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input placeholder="Email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
      <label for="exampleInputPassword1" class="form-label">Phone</label>
      <input placeholder="Phone No."
        type="tel"
        formControlName="phone"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input placeholder="password"
        type="password"
        formControlName="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3" hidden>
      <label for="exampleInputPassword1" class="form-label">isactive</label>
      <input 
        type="text" 
        formControlName="isactive"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1"  class="form-label">Role</label>
      <input placeholder="Role"
        type="text"
        formControlName="role" readonly
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>

    <div class="mb-3" style="text-align: right">
      <label class="form-check-label" for="exampleCheck1" style="text-decoration: underline;" routerLink="/login"
        >Login?</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
</div>
<ngx-spinner bdColor="black" size="medium" [type]="typeSelected">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>